<!--Top Table UI-->
<div [ngClass]="{ 'card': shadows, 'table-ui mb-3 mx-4': !shadows, 'p-2 mb-5': true }">
    
    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6 col-md-12">

            <mdb-select [options]="bulkOptionsSelect" placeholder="Bulk actions"></mdb-select>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6 col-md-6">

            <mdb-select [options]="showOnlyOptionsSelect" placeholder="Show only"></mdb-select>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6 col-md-6">

            <mdb-select [options]="filterOptionsSelect" placeholder="Filter segments"></mdb-select>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-xl-3 col-lg-6 col-md-12">

            <form class="form-inline mt-2 ml-2">
                <input class="form-control my-0 py-0" type="text" placeholder="Search">
                <button class="btn btn-sm btn-primary ml-2 px-2 waves-effect waves-light"><i class="fa fa-search"></i>  </button>
            </form>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</div>
<!--Top Table UI-->

  <div [ngClass]="{ 'card card-cascade narrower': true, 'z-depth-0': !shadows }">
  
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
  
          <div>
              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-th-large mt-0"></i></button>
              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-columns mt-0"></i></button>
          </div>
  
          <a href="" class="white-text mx-3">Table name</a>
  
          <div>
              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-pencil mt-0"></i></button>
              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-remove mt-0"></i></button>
              <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-info-circle mt-0"></i></button>
          </div>
  
      </div>
      <!--/Card image-->
  
      <div class="px-4">
  
          <div class="table-wrapper">
              <!--Table-->
              <table class="table table-hover mb-0">
  
                  <!--Table head-->
                  <thead>
                      <tr>
                          <th>
                              <input type="checkbox" id="checkbox">
                              <label for="checkbox" class="mr-2 label-table"></label>
                          </th>
                          <th class="th-lg"><a (click)="sortBy('first')">First Name <i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a (click)="sortBy('last')">Last Name<i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a (click)="sortBy('username')">Username<i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a (click)="sortBy('email')">Email<i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a (click)="sortBy('country')">Country<i class="fa fa-sort ml-1"></i></a></th>
                          <th class="th-lg"><a (click)="sortBy('city')">City<i class="fa fa-sort ml-1"></i></a></th>
                      </tr>
                  </thead>
                  <!--Table head-->
  
                  <!--Table body-->
                  <tbody>
                      <tr *ngFor="let row of tableData;let i = index">
                          <th scope="row">
                              <input type="checkbox" id="checkbox{{i}}">
                              <label for="checkbox{{i}}" class="label-table"></label>
                          </th>
                          <td>{{row.first}}</td>
                          <td>{{row.last}}</td>
                          <td>{{row.username}}</td>
                          <td>{{row.email}}</td>
                          <td>{{row.country}}</td>
                          <td>{{row.city}}</td>
                      </tr>
                  </tbody>
                  <!--Table body-->
              </table>
              <!--Table-->
          </div>
  
          <hr class="my-0">
  
          <!--Bottom Table UI-->
          <div class="d-flex justify-content-between">
  
              <!--Name-->
              <select class="mdb-select colorful-select dropdown-primary mt-2 hidden-md-down">
                  <option value="" disabled >Rows number</option>
                  <option value="1" selected>10 rows</option>
                  <option value="2">25 rows</option>
                  <option value="3">50 rows</option>
                  <option value="4">100 rows</option>
              </select>
  
              <!--Pagination -->
              <nav class="my-4">
                  <ul class="pagination pagination-circle pg-blue mb-0">
  
                      <!--First-->
                      <li class="page-item disabled"><a class="page-link">First</a></li>
  
                      <!--Arrow left-->
                      <li class="page-item disabled">
                          <a class="page-link" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                      </a>
                      </li>
  
                      <!--Numbers-->
                      <li class="page-item active"><a class="page-link">1</a></li>
                      <li class="page-item"><a class="page-link">2</a></li>
                      <li class="page-item"><a class="page-link">3</a></li>
                      <li class="page-item"><a class="page-link">4</a></li>
                      <li class="page-item"><a class="page-link">5</a></li>
  
                      <!--Arrow right-->
                      <li class="page-item">
                          <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                      </a>
                      </li>
  
                      <!--First-->
                      <li class="page-item"><a class="page-link">Last</a></li>
  
                  </ul>
              </nav>
              <!--/Pagination -->
  
          </div>
          <!--Bottom Table UI-->
  
      </div>
  </div>
                  
  