<div class="row mt-5">
  <div class="col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Time picker </h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">
        <div class="row">
          <div class="col-md-6 col-lg-5 ml-auto">
            <div class="card px-5 pt-5 mt-5 mx-2">
              <mdb-time-picker [twelvehour]="true" [darktheme]="false" [placeholder]="'Selected time'" [label]="'Try me...'" [showClock]="false"></mdb-time-picker>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 mr-auto">
            <div class="card px-5 pt-5 mt-5 mx-2">
              <mdb-time-picker [twelvehour]="false" [darktheme]="true" [placeholder]="'Selected time'" [label]="'And me! I am different!'"></mdb-time-picker>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10">
            <!--Section: Docs link-->
            <section class="pb-4 pt-5">
              <panel header="Full documentation" color="primary-color">
                <p class="card-text">Read the full documentation for these components.</p>
                <a href="https://mdbootstrap.com/angular/advanced/timepicker/" target="_blank" class="btn btn-primary waves-effect waves-light">Learn more</a>
              </panel>
            </section>
            <!--/.Section: Docs link-->
          </div>
        </div>
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>