<div class="row mt-5">
  <div class="col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">
      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Tags, labels & badges </h4>
      </div>
      <!--/Card image-->
      <!--Card content-->
      <div class="card-body text-center">

        <!--Basic example-->
        <section class="section">

          <h5 class="mt-5 mb-5 dark-grey-text font-bold">Basic examples</h5>

          <div class="row pb-4">

            <div class="col-lg-4 col-md-12 mt-2 mb-r">
              <ng-container *ngFor="let tag of predefined">
                <div class="chip" *ngIf="tag.visible">
                  <img *ngIf="!!tag.img" src="{{tag.img}}" alt="{{tag.text}}"> {{tag.text}}
                  <i *ngIf="tag.closable" class="close fa fa-times" (click)="tag.visible=!tag.visible"></i>
                </div>
              </ng-container>

              <div class="mt-4">
                <h4 class="h4-responsive mb-4">Adding tags:</h4>
                <mdb-material-chips [(ngModel)]="values" placeholder="I am so lonely :( "></mdb-material-chips>
                <p>You can simply add new tags. Just type something above and press Enter</p>
              </div>
            </div>

            <div class="col-lg-6 col-md-8 mb-r">
              <h1>Example heading
                <span class="badge red">New</span>
              </h1>
              <h2>Example heading
                <span class="badge blue">New</span>
              </h2>
              <h3>Example heading
                <span class="badge black">New</span>
              </h3>
              <h4>Example heading
                <span class="badge green">New</span>
              </h4>
              <h5>Example heading
                <span class="badge grey mt-3">New</span>
              </h5>
              <h6>Example heading
                <span class="badge indigo">New</span>
              </h6>
            </div>

            <div class="col-lg-2 col-md-4 mb-r">

              <span class="badge badge-default">Default</span>
              <br>
              <span class="badge badge-primary">Primary</span>
              <br>
              <span class="badge badge-success">Success</span>
              <br>
              <span class="badge badge-info">Info</span>
              <br>
              <span class="badge badge-warning">Warning</span>
              <br>
              <span class="badge badge-danger">Danger</span>
              <br>

            </div>

          </div>

        </section>
        <!--Basic example-->

      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>