.map-wrapper {
    width: 99vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;    
    height: 103vh;
  }

  .fixed-sn main {
      padding-top: 0;
  }