.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
}

.card.card-cascade {
    .view {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15), 0 3px 12px 0 rgba(0, 0, 0, 0.15);
    }
}