    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
            <div class="container-fluid">
  
                <!-- Brand -->
                <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">
                    <strong class="blue-text">MDB</strong>
                </a>
  
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
  
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/angular-bootstrap-getting-started/" target="_blank">About MDB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/getting-started/" target="_blank">Free download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/angular/angular-tutorial/" target="_blank">Free tutorials</a>
                        </li>
                    </ul>
  
                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">

                        <li class="nav-item">
                            <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fa fa-github mr-2"></i>MDB GitHub
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://mdbootstrap.com/product/angular-bootstrap-pro/" class="ml-1 nav-link border border-light rounded waves-effect">
                            <i class="fa fa-diamond left"></i> Go Pro</a>
                        </li>
                    </ul>
  
                </div>
  
            </div>
        </nav>
        <!-- Navbar -->
  
        <!-- Sidebar -->
        <div class="sidebar-fixed position-fixed">
  
            <a class="logo-wrapper waves-effect">
                <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
            </a>
  
            <div class="list-group list-group-flush">

                <a routerLink="dashboards/v1"  routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-pie-chart mr-3"></i>Dashboard
                </a>
                <a routerLink="profiles/profile1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-user mr-3"></i>Profile</a>
                <a routerLink="tables/table1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-table mr-3"></i>Tables</a>
                <a routerLink="maps/map1" routerLinkActive="active"  class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-map mr-3"></i>Maps</a>
                <a routerLink="nonExistingPath" routerLinkActive="active"   class="list-group-item list-group-item-action waves-effect">
                    <i class="fa fa-exclamation mr-3"></i>404</a>

            </div>
  
        </div>
        <!-- Sidebar -->
  
    </header>
    <!--Main Navigation-->


