<h2 class="font-bold mt-lg-5 mb-5 pb-4">
    <strong>Buttons</strong>
</h2>

<!--Section: Basic buttons-->
<section class="mb-5 pb-4">
    <h4 class="mb-4 dark-grey-text font-bold">
        <strong>Basic buttons</strong>
    </h4>

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Primary</button>
    <!-- Default button -->
    <button type="button" class="btn btn-default waves-light" mdbRippleRadius>Default</button>
    <!-- Secondary button -->
    <button type="button" class="btn btn-secondary waves-light" mdbRippleRadius>Secondary</button>
    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
    <!-- Contextual button for informational alert messages -->
    <button type="button" class="btn btn-info waves-light" mdbRippleRadius>Info</button>
    <!-- Indicates caution should be taken with this action -->
    <button type="button" class="btn btn-warning waves-light" mdbRippleRadius>Warning</button>
    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger waves-light" mdbRippleRadius>Danger</button>

</section>
<!--Section: Basic buttons-->

<!--Section: Outline buttons-->
<section class="mb-5 pb-4">
    <h4 class="mb-4 dark-grey-text font-bold">
        <strong>Outline buttons</strong>
    </h4>

    <button type="button" class="btn btn-outline-primary" mdbRippleRadius>Primary</button>
    <button type="button" class="btn btn-outline-default" mdbRippleRadius>Default</button>
    <button type="button" class="btn btn-outline-secondary" mdbRippleRadius>Secondary</button>
    <button type="button" class="btn btn-outline-success" mdbRippleRadius>Success</button>
    <button type="button" class="btn btn-outline-info" mdbRippleRadius>Info</button>
    <button type="button" class="btn btn-outline-warning" mdbRippleRadius>Warning</button>
    <button type="button" class="btn btn-outline-danger" mdbRippleRadius>Danger</button>


</section>
<!--Section: Outline buttons-->

<!--Section: Additional buttons-->
<section class="mb-5 pb-4">
    <h4 class="mb-4 dark-grey-text font-bold">
        <strong>Additional buttons</strong>
    </h4>

    <!--Elegant-->
    <button type="button" class="btn btn-elegant waves-light" mdbRippleRadius>Elegant</button>
    <!--Unique-->
    <button type="button" class="btn btn-unique waves-light" mdbRippleRadius>Unique</button>
    <!--Pink-->
    <button type="button" class="btn btn-pink waves-light" mdbRippleRadius>Pink</button>
    <!--Purple-->
    <button type="button" class="btn btn-purple waves-light" mdbRippleRadius>Purple</button>
    <!--Deep-purple-->
    <button type="button" class="btn btn-deep-purple waves-light" mdbRippleRadius>Deep-purple</button>
    <!--Indigo-->
    <button type="button" class="btn btn-indigo waves-light" mdbRippleRadius>Indigo</button>
    <!--Light blue-->
    <button type="button" class="btn btn-light-blue waves-light" mdbRippleRadius>Light blue</button>
    <!--Cyan-->
    <button type="button" class="btn btn-cyan waves-light" mdbRippleRadius>Cyan</button>
    <!--Dark-green-->
    <button type="button" class="btn btn-dark-green waves-light" mdbRippleRadius>Dark-green</button>
    <!--Light-green-->
    <button type="button" class="btn btn-light-green waves-light" mdbRippleRadius>Light-green</button>
    <!--Yellow-->
    <button type="button" class="btn btn-yellow waves-light" mdbRippleRadius>Yellow</button>
    <!--Amber-->
    <button type="button" class="btn btn-amber waves-light" mdbRippleRadius>Amber</button>
    <!--Deep-orange-->
    <button type="button" class="btn btn-deep-orange waves-light" mdbRippleRadius>Deep-orange</button>
    <!--Brown-->
    <button type="button" class="btn btn-brown waves-light" mdbRippleRadius>Brown</button>

</section>
<!--Section: Additional buttons-->

<!--Section: Gradient buttons-->
<section class="">
    <div class="row">
        <div class="col-md-6 col-xl-5 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>Gradient buttons</strong>
            </h4>

            <button class="btn peach-gradient btn-rounded waves-light" mdbRippleRadius>Peach</button>
            <button class="btn purple-gradient btn-rounded waves-light" mdbRippleRadius>Purple</button>
            <button class="btn blue-gradient btn-rounded waves-light" mdbRippleRadius>Blue</button>
            <button class="btn aqua-gradient btn-rounded waves-light" mdbRippleRadius>Aqua</button>
            <h4 class="mb-4 dark-grey-text font-bol mt-2">
                <strong>Floating buttons </strong>
            </h4>

            <a class="btn-floating btn-lg purple-gradient waves-light" mdbRippleRadius>
                <i class="fa fa-bolt"></i>
            </a>
            <a class="btn-floating peach-gradient waves-light" mdbRippleRadius>
                <i class="fa fa-leaf"></i>
            </a>
            <a class="btn-floating btn-sm blue-gradient waves-light" mdbRippleRadius>
                <i class="fa fa-star"></i>
            </a>
        </div>

        <div class="col-md-6 col-xl-5 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>Radio buttons</strong>
            </h4>
            <div class="btn-group">
                <label class="btn btn-primary waves-light" [(ngModel)]="radioModel" mdbRadio="Left" mdbRippleRadius>
                    Radio 1 (preselected)
                </label>
                <label class="btn btn-primary waves-light" [(ngModel)]="radioModel" mdbRadio="Middle" mdbRippleRadius>
                    Radio 2
                </label>
                <label class="btn btn-primary waves-light" [(ngModel)]="radioModel" mdbRadio="Right" mdbRippleRadius>
                    Radio 3
                </label>
            </div>
            <h4 class="mb-4 dark-grey-text font-bold mt-2">
                <strong>Checkbox buttons</strong>
            </h4>

            <div class="btn-group">
                <label class="btn btn-primary waves-light" [(ngModel)]="checkModel.left" mdbCheckbox mdbRippleRadius>
                    Checkbox 1 (pre-checked)
                </label>
                <label class="btn btn-primary waves-light" [(ngModel)]="checkModel.middle" mdbCheckbox mdbRippleRadius>
                    Checkbox 2
                </label>
                <label class="btn btn-primary waves-light" [(ngModel)]="checkModel.right" mdbCheckbox mdbRippleRadius>
                    Checkbox 3
                </label>
            </div>

        </div>
    </div>

</section>
<!--Section: Gradient buttons-->

<!--Section: Style and size-->
<section class="">
    <div class="row">
        <div class="col-md-6 col-xl-5 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>Style</strong>
            </h4>

            <button class="btn btn-secondary" mdbRippleRadius>Default</button>
            <button class="btn btn-secondary btn-rounded" mdbRippleRadius>Round</button>
            <button class="btn btn-secondary btn-rounded" mdbRippleRadius>
                <i class="fa fa-heart mr-2"></i> With icon</button>
            <a class="btn-floating btn-secondary" mdbRippleRadius>
                <i class="fa fa-leaf"></i>
            </a>

        </div>

        <div class="col-md-6 col-xl-5 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>Sizes</strong>
            </h4>

            <button type="button" class="btn btn-primary btn-lg" mdbRippleRadius>Large button</button>
            <button type="button" class="btn btn-primary" mdbRippleRadius>Regular button</button>
            <button type="button" class="btn btn-primary btn-sm" mdbRippleRadius>Small button</button>

        </div>
    </div>

</section>
<!--Section: Style and size-->

<!--Section: Social buttons-->
<section class="">
    <div class="row">
        <div class="col-md-3 col-xl-2 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>Regular</strong>
            </h4>

            <!--Facebook-->
            <button type="button" class="btn btn-fb" mdbRippleRadius>
                <i class="fa fa-facebook left"></i> Facebook</button>
            <!--Twitter-->
            <button type="button" class="btn btn-tw" mdbRippleRadius>
                <i class="fa fa-twitter left"></i> Twitter</button>
            <!--Google +-->
            <button type="button" class="btn btn-gplus" mdbRippleRadius>
                <i class="fa fa-google-plus left"></i> Google +</button>
            <!--Linkedin-->
            <button type="button" class="btn btn-li" mdbRippleRadius>
                <i class="fa fa-linkedin left"></i> Linkedin</button>
            <!--Instagram-->
            <button type="button" class="btn btn-ins" mdbRippleRadius>
                <i class="fa fa-instagram left"></i> Instagram</button>
            <!--Pinterest-->
            <button type="button" class="btn btn-pin" mdbRippleRadius>
                <i class="fa fa-pinterest left"></i> Pinterest</button>
            <!--Youtube-->
            <button type="button" class="btn btn-yt mdbRippleRadius">
                <i class="fa fa-youtube left"></i> Youtube</button>
            <!--Dribbble-->
            <button type="button" class="btn btn-dribbble" mdbRippleRadius>
                <i class="fa fa-dribbble left"></i> Dribbble</button>
            <!--Vkontakte-->
            <button type="button" class="btn btn-vk" mdbRippleRadius>
                <i class="fa fa-vk left"></i> Vkontakte</button>
            <!--Stack Overflow-->
            <button type="button" class="btn btn-so px-4" mdbRippleRadius>
                <i class="fa fa-stack-overflow left"></i> Stack Overflow</button>
            <!--Slack-->
            <button type="button" class="btn btn-slack" mdbRippleRadius>
                <i class="fa fa-slack left"></i> Slack</button>
            <!--Comments-->
            <button type="button" class="btn btn-comm" mdbRippleRadius>
                <i class="fa fa-comments left"></i> Comments</button>
            <!--Github-->
            <button type="button" class="btn btn-git" mdbRippleRadius>
                <i class="fa fa-github left"></i> Github</button>
            <!--Email-->
            <button type="button" class="btn btn-email" mdbRippleRadius>
                <i class="fa fa-envelope left"></i> Email</button>

        </div>

        <div class="col-md-2 col-xl-1 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>Simple</strong>
            </h4>

            <!--Facebook-->
            <button type="button" class="btn btn-fb" mdbRippleRadius>
                <i class="fa fa-facebook"></i>
            </button>
            <!--Twitter-->
            <button type="button" class="btn btn-tw" mdbRippleRadius>
                <i class="fa fa-twitter"></i>
            </button>
            <!--Google +-->
            <button type="button" class="btn btn-gplus" mdbRippleRadius>
                <i class="fa fa-google-plus"></i>
            </button>
            <!--Linkedin-->
            <button type="button" class="btn btn-li" mdbRippleRadius>
                <i class="fa fa-linkedin"></i>
            </button>
            <!--Instagram-->
            <button type="button" class="btn btn-ins" mdbRippleRadius>
                <i class="fa fa-instagram"></i>
            </button>
            <!--Pinterest-->
            <button type="button" class="btn btn-pin" mdbRippleRadius>
                <i class="fa fa-pinterest"></i>
            </button>
            <!--Youtube-->
            <button type="button" class="btn btn-yt" mdbRippleRadius>
                <i class="fa fa-youtube"></i>
            </button>
            <!--Dribbble-->
            <button type="button" class="btn btn-dribbble" mdbRippleRadius>
                <i class="fa fa-dribbble left"></i>
            </button>
            <!--Vkontakte-->
            <button type="button" class="btn btn-vk" mdbRippleRadius>
                <i class="fa fa-vk"></i>
            </button>
            <!--Stack Overflow-->
            <button type="button" class="btn btn-so" mdbRippleRadius>
                <i class="fa fa-stack-overflow"></i>
            </button>
            <!--Slack-->
            <button type="button" class="btn btn-slack" mdbRippleRadius>
                <i class="fa fa-slack"></i>
            </button>
            <!--Comments-->
            <button type="button" class="btn btn-comm" mdbRippleRadius>
                <i class="fa fa-comments"></i>
            </button>
            <!--Github-->
            <button type="button" class="btn btn-git" mdbRippleRadius>
                <i class="fa fa-github"></i>
            </button>
            <!--Email-->
            <button type="button" class="btn btn-email" mdbRippleRadius>
                <i class="fa fa-envelope"></i>
            </button>

        </div>


        <div class="col-md-4 col-xl-2 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>With counters</strong>
            </h4>

            <!--Facebook-->
            <button type="button" class="btn btn-fb" mdbRippleRadius>
                <i class="fa fa-facebook left"></i>
                <span>Facebook</span>
            </button>
            <span class="counter">22</span>

            <!--Twitter-->
            <button type="button" class="btn btn-tw" mdbRippleRadius>
                <i class="fa fa-twitter left"></i>
                <span>Twitter</span>
            </button>
            <span class="counter">22</span>

            <!--Google +-->
            <button type="button" class="btn btn-gplus" mdbRippleRadius>
                <i class="fa fa-google-plus left"></i>
                <span>Google+</span>
            </button>
            <span class="counter">22</span>

            <!--Linkedin-->
            <button type="button" class="btn btn-li" mdbRippleRadius>
                <i class="fa fa-linkedin left"></i>
                <span>Linkedin</span>
            </button>
            <span class="counter">22</span>

            <!--Instagram-->
            <button type="button" class="btn btn-ins" mdbRippleRadius>
                <i class="fa fa-instagram left"></i>
                <span>Instagram</span>
            </button>
            <span class="counter">22</span>

            <!--Pinterest-->
            <button type="button" class="btn btn-pin" mdbRippleRadius>
                <i class="fa fa-pinterest left"></i>
                <span>Pinterest</span>
            </button>
            <span class="counter">22</span>

            <!--Youtube-->
            <button type="button" class="btn btn-yt" mdbRippleRadius>
                <i class="fa fa-youtube left"></i>
                <span>Youtube</span>
            </button>
            <span class="counter">22</span>

            <!--Dribbble-->
            <button type="button" class="btn btn-dribbble" mdbRippleRadius>
                <i class="fa fa-dribbble left"></i>
                <span>Dribbble</span>
            </button>
            <span class="counter">22</span>

            <!--Vkontakte-->
            <button type="button" class="btn btn-vk" mdbRippleRadius>
                <i class="fa fa-vk left"></i>
                <span>Vkontakte</span>
            </button>
            <span class="counter">22</span>

            <!--Stack Overflow-->
            <button type="button" class="btn btn-so px-4" mdbRippleRadius>
                <i class="fa fa-stack-overflow left"></i>
                <span>Stack Overflow</span>
            </button>
            <span class="counter">22</span>

            <!--Slack-->
            <button type="button" class="btn btn-slack" mdbRippleRadius>
                <i class="fa fa-slack left"></i>
                <span>Slack</span>
            </button>
            <span class="counter">22</span>

            <!--Comments-->
            <button type="button" class="btn btn-comm" mdbRippleRadius>
                <i class="fa fa-comments left"></i>
                <span>Comments</span>
            </button>
            <span class="counter">22</span>

            <!--Github-->
            <button type="button" class="btn btn-git" mdbRippleRadius>
                <i class="fa fa-github left"></i>
                <span>Github</span>
            </button>
            <span class="counter">22</span>

            <!--Emails-->
            <button type="button" class="btn btn-email" mdbRippleRadius>
                <i class="fa fa-envelope left"></i>
                <span>Emails</span>
            </button>
            <span class="counter">22</span>

        </div>

        <div class="col-md-3 col-xl-1 mb-5 pb-4">
            <h4 class="mb-4 dark-grey-text font-bold">
                <strong>Round</strong>
            </h4>

            <!--Facebook-->
            <a type="button" class="btn-floating btn-fb" mdbRippleRadius>
                <i class="fa fa-facebook"></i>
            </a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-tw" mdbRippleRadius>
                <i class="fa fa-twitter"></i>
            </a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-gplus" mdbRippleRadius>
                <i class="fa fa-google-plus"></i>
            </a>
            <!--Linkedin-->
            <a type="button" class="btn-floating btn-li" mdbRippleRadius>
                <i class="fa fa-linkedin"></i>
            </a>
            <!--Instagram-->
            <a type="button" class="btn-floating btn-ins" mdbRippleRadius>
                <i class="fa fa-instagram"></i>
            </a>
            <!--Pinterest-->
            <a type="button" class="btn-floating btn-pin" mdbRippleRadius>
                <i class="fa fa-pinterest"></i>
            </a>
            <!--Youtube-->
            <a type="button" class="btn-floating btn-yt" mdbRippleRadius>
                <i class="fa fa-youtube"></i>
            </a>
            <!--Dribbble-->
            <a type="button" class="btn-floating btn-dribbble" mdbRippleRadius>
                <i class="fa fa-dribbble"></i>
            </a>
            <!--Vkontakte-->
            <a type="button" class="btn-floating btn-vk" mdbRippleRadius>
                <i class="fa fa-vk"></i>
            </a>
            <!--Stack Overflow-->
            <a type="button" class="btn-floating btn-so" mdbRippleRadius>
                <i class="fa fa-stack-overflow"></i>
            </a>
            <!--Slack-->
            <a type="button" class="btn-floating btn-slack" mdbRippleRadius>
                <i class="fa fa-slack"></i>
            </a>
            <!--Github-->
            <a type="button" class="btn-floating btn-git" mdbRippleRadius>
                <i class="fa fa-github"></i>
            </a>
            <!--Comments-->
            <a type="button" class="btn-floating btn-comm" mdbRippleRadius>
                <i class="fa fa-comments"></i>
            </a>
            <!--Email-->
            <a type="button" class="btn-floating btn-email" mdbRippleRadius>
                <i class="fa fa-envelope"></i>
            </a>

        </div>

    </div>

</section>
<!--Section: social buttons-->
<!--Section: Dics link-->
<section class="pb-4">
    <panel header="Full documentation" color="primary-color">
        <p class="card-text">Read the full documentation for these components.</p>
        <a href="https://mdbootstrap.com/angular/components/buttons/" target="_blank" class="btn btn-primary waves-effect waves-light">Learn more</a>
    </panel>
</section>
<!--/.Section: Dics link-->