<div class="row mt-5">
  <div class="col-md-12">
    <!--Card-->

    <!--Card image-->
    <!--/Card image-->
    <!--Card content-->
    <h3 class="mb-r dark-grey-text font-bold mt-4">
      <strong>Cascading cards</strong>
    </h3>
    <div class="row pb-4">
      <div class="col-md-4">
        <h4 class="mb-4 dark-grey-text font-bold">
          <strong>Wider</strong>
        </h4>
        <!--Card-->
        <div class="card card-cascade wider mt-4">
          <!--Card image-->
          <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg" class="img-fluid">
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--/Card image-->
          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title mb-3 font-bold">
              <strong>Alice Mayer</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Photographer</strong>
            </h5>
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>
            <!--Linkedin-->
            <a class="icons-sm li-ic">
              <i class="fa fa-linkedin"> </i>
            </a>
            <!--Twitter-->
            <a class="icons-sm tw-ic">
              <i class="fa fa-twitter"> </i>
            </a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic">
              <i class="fa fa-facebook"> </i>
            </a>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <h4 class="mb-4 dark-grey-text font-bold mb-4">
          <strong>Narrower</strong>
        </h4>
        <!--Card-->
        <div class="card card-cascade narrower">
          <!--Card image-->
          <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
            <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" class="img-fluid" alt="">
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-body">
            <h5 class="pink-text">
              <i class="fa fa-cutlery"></i> Culinary</h5>
            <!--Title-->
            <h4 class="card-title mb-3">Cheat day inspirations</h4>
            <!--Text-->
            <p class="card-text">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
              ea commodi.</p>
            <a class="btn btn-unique waves-light" mdbRippleRadius>Button</a>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
      <div class="col-md-4">
        <h4 class="mb-4 dark-grey-text font-bold">
          <strong>Regular</strong>
        </h4>
        <!--Card-->
        <div class="card card-cascade mt-4">
          <!--Card image-->
          <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
            <img src="https://mdbootstrap.com/img/Photos/Others/men.jpg" class="img-fluid" alt="">
            <a>
              <div class="mask"></div>
            </a>
          </div>
          <!--/.Card image-->
          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title mb-3">
              <strong>Billy Cullen</strong>
            </h4>
            <h5>Web developer</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod
              quibusdam.
            </p>
            <!--Facebook-->
            <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius>
              <i class="fa fa-facebook"></i>
            </a>
            <!--Twitter-->
            <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius>
              <i class="fa fa-twitter"></i>
            </a>
            <!--Google +-->
            <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius>
              <i class="fa fa-dribbble"></i>
            </a>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
    </div>
    <!--Section: Cascading panels-->
    <section>
      <h3 class="mb-r dark-grey-text font-bold mt-4">
        <strong>Cascading panels</strong>
      </h3>
      <div class="row mb-5">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">
          <!--Card-->
          <div class="card card-cascade narrower">
            <!--Card image-->
            <div class="view gradient-card-header purple-gradient">
              <h2 class="h2-responsive">Mattonit</h2>
              <p>The Boar</p>
              <div class="text-center">
                <!--Facebook-->
                <a type="button" class="btn-floating btn-small waves-effect waves-light">
                  <i class="fa fa-facebook"></i>
                </a>
                <!--Twitter-->
                <a type="button" class="btn-floating btn-small waves-effect waves-light">
                  <i class="fa fa-twitter"></i>
                </a>
                <!--Google +-->
                <a type="button" class="btn-floating btn-small waves-effect waves-light">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body text-center">

              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod
                quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut
                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</p>

            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-r">
          <!--Card-->
          <div class="card card-cascade wider mt-4">
            <!--Card image-->
            <div class="view gradient-card-header peach-gradient">
              <h2 class="h2-responsive mb-2">Title of the news</h2>
              <p class="">
                <i class="fa fa-calendar"></i> 26.07.2017</p>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body text-center">
              <p class="card-text mr-2 ml-2 pb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod
                quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut
                enim ad minima veniam, quis nostrum.</p>

              <a href="#" class="orange-text mt-1 d-flex flex-row-reverse">
                <h5 class="waves-effect p-2">Read more
                  <i class="fa fa-chevron-right"></i>
                </h5>
              </a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-r">
          <!--Card-->
          <div class="card card-cascade mt-4">
            <!--Card image-->
            <div class="view gradient-card-header blue-gradient">
              <h2 class="h2-responsive">Marta</h2>
              <p>Deserve for her own card</p>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <div class="card-body text-center">

              <p class="card-text pb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod
                quibusdam dignissimos neque rem nihil ratione est placeat vel, natus non quos laudantium veritatis sequi.Ut
                enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
              </p>
              <hr>
              <!--Twitter-->
              <a class="icons-sm tw-ic">
                <i class="fa fa-twitter"> </i>
              </a>
              <!--Linkedin-->
              <a class="icons-sm li-ic">
                <i class="fa fa-linkedin"> </i>
              </a>
              <!--Facebook-->
              <a class="icons-sm fb-ic">
                <i class="fa fa-facebook"> </i>
              </a>
              <!--Email-->
              <a class="icons-sm email-ic">
                <i class="fa fa-envelope"> </i>
              </a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--Grid column-->
      </div>
    </section>
    <!--Section: Cascading panels-->

    <!--Section: Reverse cascade-->
    <section>
      <h3 class="mb-4 dark-grey-text font-bold">
        <strong>Reverse cascade</strong>
      </h3>
      <div class="row mb-5 pb-4">
        <!--Card-->
        <div class="card card-cascade wider reverse my-4 mx-3">
          <!--Card image-->
          <div class="view overlay hm-white-slight">
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(135).jpg" class="img-fluid">
            <a href="#">
              <div class="mask"></div>
            </a>
          </div>
          <!--/Card image-->
          <!--Card content-->
          <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title mb-4">
              <strong>My adventure</strong>
            </h4>
            <h5 class="indigo-text">
              <strong>Photography</strong>
            </h5>

            <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </p>

            <!--Linkedin-->
            <a class="icons-sm li-ic">
              <i class="fa fa-linkedin"> </i>
            </a>
            <!--Twitter-->
            <a class="icons-sm tw-ic">
              <i class="fa fa-twitter"> </i>
            </a>
            <!--Dribbble-->
            <a class="icons-sm fb-ic">
              <i class="fa fa-facebook"> </i>
            </a>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
    </section>
    <!--Section: Reverse cascade-->

    <!--Section: Additional cards-->
    <section class="mb-5">

      <div class="row">
        <!--Subheading-->
        <div class="col-md-4 mb-r">
          <h4 id="" class="mb-4 font-bold dark-grey-text pb-4">
            <strong>Waves effect</strong>
          </h4>
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="">
              <a href="#!">
                <div class="mask"></div>
              </a>
            </div>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
          <!--/.Card-->
        </div>

        <div class="col-md-4 mb-r">
          <!--Subheading-->
          <h4 id="" class="mb-4 font-bold dark-grey-text">
            <strong>Basic example</strong>
          </h4>
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">
                <strong>Card title</strong>
              </h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="#" class="btn btn-pink btn-rounded">Button</a>
            </div>

          </div>
          <!--/.Card-->
        </div>

        <div class="col-md-4 mb-r">
          <!--Subheading-->
          <h4 id="" class="mb-4 font-bold dark-grey-text ">
            <strong>Testimonial card</strong>
          </h4>
          <!--Card-->
          <div class="card testimonial-card" style="max-width: 22rem;">

            <!--Bacground color-->
            <div class="card-up aqua-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="card-title dark-grey-text">
                <strong>Martha Smith</strong>
              </h4>
              <hr>
              <!--Quotation-->
              <p class="card-text pt-2"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci Sed ut perspiciatis unde omnis iste
                natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam. Facere modi sunt, quod quibusdam
                dignissimos neque rem nihil.</p>
            </div>

          </div>
          <!--/.Card-->
        </div>
      </div>

    </section>
    <!--Section: Additional cards-->

    <!--Section: Overlay cards-->
    <section class="mb-5">
      <h3 id="" class="font-bold dark-grey-text mb-4">
        <strong>Image overlay</strong>
      </h3>

      <div class="row">

        <div class="col-md-6 mb-r">

          <!-- Card -->
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h6 class="pink-text">
                  <i class="fa fa-pie-chart"></i>
                  <strong> Marketing</strong>
                </h6>
                <h3 class="card-title pt-4 pb-3 font-bold">
                  <strong>This is card title</strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
                  vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
                  dolorum!.
                </p>
                <a class="btn btn-pink btn-rounded waves-effect waves-light">
                  <i class="fa fa-clone left"></i> View project</a>
              </div>
            </div>
            <!-- Content -->
          </div>
          <!-- Card -->

        </div>

        <div class="col-md-6 mb-r">
          <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
            <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
              <div>
                <h6 class="orange-text">
                  <i class="fa fa-desktop"></i>
                  <strong> Software</strong>
                </h6>
                <h3 class="card-title pt-4 pb-3 font-bold">
                  <strong>This is card title</strong>
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio
                  vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
                  dolorum!
                </p>
                <a class="btn btn-deep-orange btn-rounded waves-effect waves-light">
                  <i class="fa fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!--Section: Overlay cards-->

    <!--Section: Additional cards-->
    <section class="mb-5">

      <div class="row mb-5">
        <!--Subheading-->
        <div class="col-md-4 mb-r">
          <h4 id="" class="font-bold mb-4 dark-grey-text pb-4">
            <strong>Action button</strong>
          </h4>
          <!--Card-->
          <div class="card">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Others/food.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Button-->
            <a class="btn-floating btn-action mdb-color lighten-4">
              <i class="fa fa-chevron-right"></i>
            </a>

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <hr>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
            <!--/.Card content-->

            <!-- Card footer -->
            <div class="card-data">
              <ul>
                <li>
                  <i class="fa fa-clock-o"></i> 05/10/2015</li>
                <li>
                  <a href="#">
                    <i class="fa fa-comments-o"></i>12</a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"> </i>21</a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"> </i>5</a>
                </li>
              </ul>
            </div>
            <!-- Card footer -->

          </div>
          <!--/.Card-->
        </div>
        <div class="col-md-4 mb-r">
          <!--Subheading-->
          <h4 id="" class="font-bold mb-4 dark-grey-text pb-4">
            <strong>Light version</strong>
          </h4>
          <!--Card Light-->
          <div class="card">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%28131%29.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
              <!--Social shares button-->
              <a class="activator">
                <i class="fa fa-share-alt"></i>
              </a>
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <hr>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="#" class="black-text d-flex flex-row-reverse">
                <h5 class="waves-effect p-2">Read more
                  <i class="fa fa-chevron-right"></i>
                </h5>
              </a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card Light-->
        </div>

        <div class="col-md-4 mb-r">
          <!--Subheading-->
          <h4 id="" class="font-bold mb-4 dark-grey-text pb-4">
            <strong>Dark card</strong>
          </h4>
          <!--Card Dark-->
          <div class="card card-dark">
            <!--Card image-->
            <div class="view overlay hm-white-slight">
              <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2821%29.jpg" class="img-fluid" alt="">
              <a>
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body">
              <!--Social shares button-->
              <a class="activator">
                <i class="fa fa-share-alt white-text"></i>
              </a>
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <hr>
              <!--Text-->
              <p class="card-text white-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
              <a href="#" class="d-flex flex-row-reverse">
                <h5 class="waves-effect waves-light p-2">Read more
                  <i class="fa fa-chevron-right"></i>
                </h5>
              </a>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card Dark-->
        </div>
      </div>
      <!-- row-->
    </section>
    <!--/.Section: Additional cards-->
    <!--Section: Docs link-->
    <section class="pb-4">
      <panel header="Full documentation" color="primary-color">
        <p class="card-text">Read the full documentation for these components.</p>
        <a href="https://mdbootstrap.com/angular/components/cards/" target="_blank" class="btn btn-primary waves-effect waves-light">Learn more</a>
      </panel>
    </section>
    <!--/.Section: Docs link-->
  </div>
</div>