<section class="mt-lg-5">
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">
            <!--Card Primary-->
            <div class="card classic-admin-card primary-color">
                <div class="card-body">
                    <div class="pull-right">
                        <i class="fa fa-money"></i>
                    </div>
                    <p class="white-text">SALES</p>
                    <h4>
                        <strong>$2000</strong>
                    </h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">
                    <p>Better than last week (25%)</p>
                </div>
            </div>
            <!--/.Card Primary-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">
            <!--Card Warning-->
            <div class="card classic-admin-card warning-color">
                <div class="card-body">
                    <div class="pull-right">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <p>SUBSCRIPTIONS</p>
                    <h4>
                        <strong>200</strong>
                    </h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">
                    <p>Worse than last week (25%)</p>
                </div>
            </div>
            <!--/.Card Warning-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">
            <!--Card Blue-->
            <div class="card classic-admin-card light-blue lighten-1">
                <div class="card-body">
                    <div class="pull-right">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <p>TRAFFIC</p>
                    <h4>
                        <strong>20000</strong>
                    </h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">
                    <p>Better than last week (75%)</p>
                </div>
            </div>
            <!--/.Card Blue-->
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-xl-3 col-md-6 mb-r">
            <!--Card Red-->
            <div class="card classic-admin-card red accent-2">
                <div class="card-body">
                    <div class="pull-right">
                        <i class="fa fa-bar-chart"></i>
                    </div>
                    <p>ORGANIC TRAFFIC</p>
                    <h4>
                        <strong>2000</strong>
                    </h4>
                </div>
                <div class="progress">
                    <div class="progress-bar bg grey darken-3" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="card-body">
                    <p>Better than last week (25%)</p>
                </div>
            </div>
            <!--/.Card Red-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
</section>