<div class="row mt-5">
  <div class="col-md-12">
    <!--Card-->
    <div class="card card-cascade narrower mt-5">

      <!--Card image-->
      <div class="view gradient-card-header blue-gradient">
        <h4 class="h4-responsive">Panels </h4>
      </div>
      <!--/Card image-->

      <!--Card content-->
      <div class="card-body text-center">

        <!--Section: Background variants-->
        <section class="mb-5 pb-5">
          <h5 class="my-5 dark-grey-text font-bold">Background variants</h5>

          <div class="row">
            <div class="col-md-6">

              <!--Card indigo-->
              <div class="card indigo text-center z-depth-2">
                <div class="card-body">
                  <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card indigo-->
              <br>
              <!--Card pink-->
              <div class="card pink lighten-2 text-center z-depth-2">
                <div class="card-body">
                  <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card pink-->
              <br>
              <!--Card info-->
              <div class="card info-color text-center z-depth-2 mb-4">
                <div class="card-body">
                  <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card info-->

              <!--Card white-->
              <div class="card white text-center z-depth-2 mb-4">
                <div class="card-body">
                  <p class="dark-grey mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card white-->

            </div>

            <div class="col-md-6">

              <!--Card red-->
              <div class="card red lighten-1 text-center z-depth-2">
                <div class="card-body">
                  <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card red-->
              <br>
              <!--Card success-->
              <div class="card success-color text-center z-depth-2">
                <div class="card-body">
                  <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card success-->
              <br>
              <!--Card mdb-->
              <div class="card mdb-color lighten-2 text-center z-depth-2 mb-4">
                <div class="card-body">
                  <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card mdb-->

              <!--Card transparent-->
              <div class="card transparent text-center z-depth-2">
                <div class="card-body">
                  <p class="dark-grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </div>
              </div>
              <!--/.Card transparent-->

            </div>
          </div>

        </section>
        <!--Section: Background variants-->

        <!--Section: Basic examples-->
        <section class="mb-5">
          <h5 class="my-5 dark-grey-text font-bold">Basic examples</h5>

          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-r">

              <!--Panel-->
              <div class="card card-body">
                <h4 class="card-title">Panel title</h4>
                <p class="card-text mt-3 mb-4">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="flex-row">
                  <a class="card-link">Card link</a>
                  <a class="card-link">Another link</a>
                </div>
              </div>
              <!--/.Panel-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">

              <!--Panel-->
              <div class="card">
                <div class="card-header deep-orange lighten-1 white-text">
                  Featured
                </div>
                <div class="card-body">
                  <h4 class="card-title">Special title treatment</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-deep-orange">Go somewhere</a>
                </div>
              </div>
              <!--/.Panel-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-r">

              <!--Panel-->
              <div class="card text-center">
                <div class="card-header success-color white-text">
                  Featured
                </div>
                <div class="card-body">
                  <h4 class="card-title">Special title treatment</h4>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-success btn-sm">Go somewhere</a>
                </div>
                <div class="card-footer text-muted success-color white-text">
                  <p class="mb-0">2 days ago</p>
                </div>
              </div>
              <!--/.Panel-->

            </div>
            <!--Grid column-->

          </div>
          <!--Grid row-->

        </section>
        <!--Section: Basic examples-->
        <!--Section: Docs link-->
        <section class="pb-4">
          <panel header="Full documentation" color="primary-color">
            <p class="card-text">Read the full documentation for these components.</p>
            <a href="https://mdbootstrap.com/angular/components/panels/" target="_blank" class="btn btn-primary waves-effect waves-light">Learn more</a>
          </panel>
        </section>
        <!--/.Section: Docs link-->
      </div>
      <!--/.Card content-->
    </div>
    <!--/.Card-->
  </div>
</div>